{% extends 'basetemplate.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes déjà connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <div class="row justify-content-around">
        <div class="col-4 shadow rounded table-hover p-3 text-center mt-5">
            <h1 class="form-signin-heading">Connexion</h1>
            <hr class="my-5">

            <div class="my-5">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="my-5">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <button class="btn btn-lg btn-primary" type="submit">
                Se connecter
            </button>
        </div>
    </div>
</form>
{% endblock %}
